img {
  max-width: 100%;
}

#contact {
  background-color: rgb(49, 46, 46);
  width: 100vw;
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

#mail {
  font-family: sans-serif;
  margin: 10px;
}

#message {
  font-family: sans-serif;
  margin: 10px;
}

#submit {
  font-family: sans-serif;
  margin: 10px;
}
